@font-face {
    font-family: 'montes';
    src: url("font/Montserrat-Bold.otf");
    font-weight: 600;
}

@font-face {
    font-family: 'montes';
    src: url("font/Montserrat-semibold.otf");
    font-weight: 500;
}

@font-face {
    font-family: 'montes';
    src: url("font/Montserrat-Medium.otf");
    font-weight: 400;
}

@font-face {
    font-family: 'montes';
    src: url("font/Montserrat-Regular.otf");
    font-weight: 300;
}

@font-face {
    font-family: 'montes';
    src: url("font/Montserrat-Light.otf");
    font-weight: 200;
}

@font-face {
    font-family: 'montes';
    src: url("font/Montserrat-Thin.otf");
    font-weight: 100;
}

h1{
    font-family: 'montes', sans-serif;
    font-weight:400 ;
    font-size: 2.8rem;
    color: var(--secondary-color);
}                                                                                                               
h2{
    font-family: 'montes', sans-serif;
    font-weight:400 ;
    font-size: 2.25rem;
    color: var(--secondary-color);

}
h3{
    font-family: 'montes', sans-serif;
    font-weight:400 ;
    font-size: 1.45rem;
    color: var(--secondary-color);
}
p{
    font-family: 'montes', sans-serif;
    font-weight:300 ;
    font-size: 1.2rem;
    color: var(--secondary-color);
    line-height: 2rem;
}

li,a{
    text-decoration: none;
    list-style: none;
    font-weight: 300;
    color: var(--secondary-color);
    outline: none; 
}

a:hover{
    color: var(--primary-color);
}

*{
    font-family: 'montes', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

:root{
    --secondary-color: #002b31;
    --secondary-light:#002b31c5;
    --primary-color: #3a1df5;
    --primary-light: #5a52ff;
    --white: white;
    --neutral-500: #e0e5e6;
    --neutral-300: #f5f4f3;
}

/*utility class*/

.container{
    max-width: 1000px;
    height: 100%;
    margin-inline: auto;
    padding: 2rem 0;
    border-bottom: 1px solid rgb(214, 214, 214);
}


.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.padd-inline{
    padding-inline: 1rem;
}

section{
    height: 100%;
}

.p-btn{
    background: var(--primary-color);
    color: white;
    border-radius: 6px;
    text-align: center;
    box-shadow: none;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
}
.p-btn:hover{
    background: var(--primary-light);
    color: white;
    border-radius: 6px;
    text-align: center;
    box-shadow: none;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.s-btn{
    
    color: var(--secondar-color);
    border-radius: 6px;
    border: 2px solid var(--secondary-color);
    text-align: center;
    box-shadow: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
}

.s-btn:hover{
    color: white;
    background-color: var(--secondary-color);
    border-radius: 6px;
    border: none;
    text-align: center;
    box-shadow: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    
}

nav{
    width: 1160px;
    margin-inline: auto;
    margin-top: 3vh;
    height: 10vh;
}

nav .p-btn{
    padding: 0.8rem 2rem;
    background-color: var(--secondary-color);
    color: white;
}
nav .p-btn:hover{
    padding: 0.8rem 2rem;
    background-color: var(--secondary-light);
    color: white;
}

nav .nav-link{
    height: 100%;

}

nav p, a{
    font-size: 0.88rem;
    color: var(--secondary-color);
}


.nav-links{
    flex-direction: row;
    height: 100%;
    gap: 2rem;
}
.nav-left{
    height: 100%;
    gap: 2rem;
}

.nav-link{
    align-items: center;
}

.nav-links li:hover{
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.nav-left img{
    width: 70px;
}

.nav-right{
    gap: 2rem;
}


.hero-sec{
    height: 100%;
    padding-inline: 3rem;
    max-width: 1000px;
}

.hero-left{
    width: 50%;
    gap: 2rem;
    flex-direction: column;
}

.btn-sec{
    width: 100%;
    gap: 2rem;
    justify-content: start;
}


.hero-right img{
    border-radius: 8px;
}

/*Services section*/

.services-sec{
    flex-direction: column;
}
.service-box{
    width: 280px;
    background-color: #002b3112;
    flex-direction: column;
    border-radius: 16px;
    padding: 60px 20px;
    gap: 20px;
}
.service-box img{
    width: 80px;
}

.box-wrapper{
    gap: 5%;
    padding: 3rem 0;
}


.box-content{
    flex-direction: column;
    text-align: center;
    gap: 10px;
    margin-top: 20px;
}

.box-content p{
    font-size: 0.9rem;
    color: var(--secondary-light) ;
    line-height: 1rem;
}


/*skills*/
.skills-sec{
    flex-direction: column;
}
.skills-tag-container{
    max-width: 1000px;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-flow: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 2rem 0;
}

.skills-tag{
    border: 1px solid var(--secondary-color);
    border-radius: 50px;
    padding: 5px 30px;
}
.skills-tag p{
    font-size: 0.8rem;
    color: var(--secondary-color);
}



/*education*/


.edu-sec{
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.edu-content{
    /* padding-left: 30vh;
    border-bottom: 1px solid rgb(214, 214, 214);
    border-top: 1px solid rgb(214, 214, 214);
    align-items: flex-start;
    gap: 10px; */
    width: 100%;
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    border: 0 solid #e0e5e6;
    border-top-width: 1px;
    justify-content: flex-start;
    align-items: stretch;
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: flex;
}

.edu-content span{
    font-size: 1rem;
    font-weight: 300;
    color: var(--primary-color);
}

.edu-content p{
    color: var(--secondary-light);
}

.edu-content .left{
    padding: 24px 48px 24px 24px;
    max-width: 180px;
}


/* footer */

footer{
    flex-direction: column;
}

footer .column{
    flex-direction: column;
    max-width: 300px;
    align-items: flex-start;
    gap: 1.5rem;
}

footer .upper{
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
   
}

footer p{
    font-size: 1rem;
    line-height: 2.4rem;
}

footer span{
    font-size: 1.5rem;
    font-weight: 300;
}

footer .lower{
    padding-top: 4rem;
}

footer .social-icons{
    gap:1rem ;
}


/* about */


.about-sec{
    flex-direction: column;
}
.img-div img{
    width: 100%;
}

.about-sec .lower{
    margin-top: 3rem;
}

.about-sec .lower .left{
    width: 60%;
}

.about-sec .social{
    width: 30%;
    padding-top: 2rem;
}
